// 圆角变量
$m-popup-border-radius: 16rpx;

// 遮罩层动画
.m-popup__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
}

.m-popup__modal--hidden {
  opacity: 0;
}

.m-popup__modal--visible {
  opacity: 1;
}

// 弹窗动画 - 中心位置
.m-popup--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: all 0.3s;
  border-radius: $m-popup-border-radius;
}

.m-popup--center.m-popup--visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.m-popup--center.m-popup--hidden {
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
}

// 弹窗动画 - 顶部位置
.m-popup--top {
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 12px 12px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s;
}

.m-popup--top.m-popup--visible {
  transform: translateY(0);
  opacity: 1;
}

.m-popup--top.m-popup--hidden {
  transform: translateY(-100%);
  opacity: 0;
}

// 弹窗动画 - 底部位置
.m-popup--bottom {
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px 12px 0 0;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s;
}

.m-popup--bottom.m-popup--visible {
  transform: translateY(0);
  opacity: 1;
}

.m-popup--bottom.m-popup--hidden {
  transform: translateY(100%);
  opacity: 0;
}

// 弹窗动画 - 左侧位置
.m-popup--left {
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 0 12px 12px 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s;
}

.m-popup--left.m-popup--visible {
  transform: translateX(0);
  opacity: 1;
}

.m-popup--left.m-popup--hidden {
  transform: translateX(-100%);
  opacity: 0;
}

// 弹窗动画 - 右侧位置
.m-popup--right {
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px 0 0 12px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s;
}

.m-popup--right.m-popup--visible {
  transform: translateX(0);
  opacity: 1;
}

.m-popup--right.m-popup--hidden {
  transform: translateX(100%);
  opacity: 0;
}

.m-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  pointer-events: none;
  isolation: isolate;
}

.m-popup {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  pointer-events: auto;
  z-index: 2001;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

  &__header {
    padding: 16px 20px 0;
  }

  &__content {
    padding: 20px;
  }

  &__footer {
    padding: 0 20px 20px;
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    transform: rotate(45deg);
    color: #999;
  }
}
