$i: 1;

.m-col {
  float: left;
  box-sizing: border-box;
}

@while $i <= 24 {
  .m-col__#{$i} {
    width: calc(100% / 24 * $i);
  }
  .m-col__offset-#{$i} {
    margin-left: calc(100% / 24 * $i);
  }
  $i: $i + 1;
}
