.m-transition {
  transition-timing-function: ease !important;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.m-fade-enter,
.m-fade-leave-to {
  opacity: 0;
}
.m-fade-enter-active,
.m-fade-leave-active {
  transition-property: opacity;
}

.m-fade-up-enter,
.m-fade-up-leave-to {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.m-fade-up-enter-active,
.m-fade-up-leave-active {
  transition-property: opacity, transform;
}

.m-fade-down-enter,
.m-fade-down-leave-to {
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
.m-fade-down-enter-active,
.m-fade-down-leave-active {
  transition-property: opacity, transform;
}

.m-fade-left-enter,
.m-fade-left-leave-to {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
.m-fade-left-enter-active,
.m-fade-left-leave-active {
  transition-property: opacity, transform;
}

.m-fade-right-enter,
.m-fade-right-leave-to {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.m-fade-right-enter-active,
.m-fade-right-leave-active {
  transition-property: opacity, transform;
}

.m-slide-up-enter,
.m-slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}
.m-slide-up-enter-active,
.m-slide-up-leave-active {
  transition-property: transform;
}

.m-slide-down-enter,
.m-slide-down-leave-to {
  transform: translate3d(0, -100%, 0);
}
.m-slide-down-enter-active,
.m-slide-down-leave-active {
  transition-property: transform;
}

.m-slide-left-enter,
.m-slide-left-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.m-slide-left-enter-active,
.m-slide-left-leave-active {
  transition-property: transform;
}

.m-slide-right-enter,
.m-slide-right-leave-to {
  transform: translate3d(100%, 0, 0);
}
.m-slide-right-enter-active,
.m-slide-right-leave-active {
  transition-property: transform;
}

.m-zoom-in-enter,
.m-zoom-in-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
.m-zoom-in-enter-active,
.m-zoom-in-leave-active {
  transition-property: opacity, transform;
}

.m-zoom-out-enter,
.m-zoom-out-leave-to {
  transform: scale(1.2);
  opacity: 0;
}
.m-zoom-out-enter-active,
.m-zoom-out-leave-active {
  transition-property: opacity, transform;
}

/* 自定义动画 */
.m-custom-enter,
.m-custom-leave-to {
  opacity: 0;
  transform: scale(0.3) rotate(-180deg);
}
.m-custom-enter-active,
.m-custom-leave-active {
  transition-property: opacity, transform;
  transition-duration: 1000ms;
}