@mixin dark-theme-vars {
  /* 深色模式语义变量 */
  /* 主色 */
  --m-primary-1: var(--m-blue-10);
  --m-primary-2: var(--m-blue-9);
  --m-primary-3: var(--m-blue-8);
  --m-primary-4: var(--m-blue-7);
  --m-primary-5: var(--m-blue-6);
  --m-primary-6: var(--m-blue-5);
  --m-primary-7: var(--m-blue-4);
  --m-primary-8: var(--m-blue-3);
  --m-primary-9: var(--m-blue-2);
  --m-primary-10: var(--m-blue-1);
  /* 危险色 */
  --m-danger-main: var(--m-red-5);
  --m-danger-hover: var(--m-red-6);
  --m-danger-clicked: var(--m-red-4);
  --m-danger-disabled: var(--m-red-8);
  --m-danger-particular: var(--m-red-9);
  --m-danger-surface: var(--m-red-10);
  /* 成功色 */
  --m-success-main: var(--m-green-5);
  --m-success-hover: var(--m-green-6);
  --m-success-clicked: var(--m-green-4);
  --m-success-disabled: var(--m-green-8);
  --m-success-particular: var(--m-green-9);
  --m-success-surface: var(--m-green-10);
  /* 警告色 */
  --m-warning-main: var(--m-orange-5);
  --m-warning-hover: var(--m-orange-6);
  --m-warning-clicked: var(--m-orange-4);
  --m-warning-disabled: var(--m-orange-8);
  --m-warning-particular: var(--m-orange-9);
  --m-warning-surface: var(--m-orange-10);
  /* 中性色 */
  /* 文字 */
  --m-text-main: var(--m-coolgrey-1);
  --m-text-secondary: var(--m-coolgrey-3);
  --m-text-auxiliary: var(--m-coolgrey-5);
  --m-text-disabled: var(--m-coolgrey-7);
  --m-text-placeholder: var(--m-coolgrey-6);
  --m-text-white: var(--m-base-white);
  /* 图标 */
  --m-icon-main: var(--m-coolgrey-1);
  --m-icon-secondary: var(--m-coolgrey-3);
  --m-icon-auxiliary: var(--m-coolgrey-5);
  --m-icon-disabled: var(--m-coolgrey-7);
  --m-icon-placeholder: var(--m-coolgrey-6);
  --m-icon-white: var(--m-base-white);
  /* 边框 */
  --m-border-extra-strong: var(--m-coolgrey-3);
  --m-border-strong: var(--m-coolgrey-5);
  --m-border-main: var(--m-coolgrey-7);
  --m-border-light: var(--m-coolgrey-9);
  --m-border-white: var(--m-base-white);
  --m-border-zero: var(--m-base-transparent);
  /* 填充 */
  --m-filled-extra-strong: var(--m-coolgrey-7);
  --m-filled-strong: var(--m-coolgrey-8);
  --m-filled-content: var(--m-coolgrey-9);
  --m-filled-bottom: var(--m-coolgrey-10);
  --m-filled-oppo: var(--m-base-black);
  --m-filled-zero: var(--m-base-transparent);
  /* 分割线 */
  --m-divider-main: var(--m-opacwhite-3_08);
  --m-divider-light: var(--m-opacwhite-2_04);
  --m-divider-strong: var(--m-opacwhite-4_15);
  --m-divider-white: var(--m-base-white);
  /* 反馈 */
  --m-feedback-hover: var(--m-opacwhite-2_04);
  --m-feedback-active: var(--m-opacwhite-3_08);
  --m-feedback-accent: var(--m-blue-opac);
  /* 填充色-透明度 */
  --m-opacfilled-tooltip-toast-cover: var(--m-opac-9_75);
  --m-opacfilled-main-cover: var(--m-opac-7_55);
  --m-opacfilled-light-cover: var(--m-opac-6_30);
  /* Picker View Mask */
  --m-picker-view-mask-start-color: var(--m-opac-10_85);
  --m-picker-view-mask-end-color: var(--m-opac-5_20);
  /* 分类色 */
  /* 黄色 */
  --m-classifyapplication-yellow-background: var(--m-yellow-10);
  --m-classifyapplication-yellow-border: var(--m-yellow-8);
  --m-classifyapplication-yellow-content: var(--m-yellow-5);
  /* 蓝色 */
  --m-classifyapplication-cyan-background: var(--m-cyan-10);
  --m-classifyapplication-cyan-border: var(--m-cyan-8);
  --m-classifyapplication-cyan-content: var(--m-cyan-5);
  /* 紫色 */
  --m-classifyapplication-purple-background: var(--m-purple-10);
  --m-classifyapplication-purple-border: var(--m-purple-8);
  --m-classifyapplication-purple-content: var(--m-purple-5);
  /* 靛色 */
  --m-classifyapplication-grape-background: var(--m-grape-10);
  --m-classifyapplication-grape-border: var(--m-grape-8);
  --m-classifyapplication-grape-content: var(--m-grape-5);
  /* 粉色 */
  --m-classifyapplication-pink-background: var(--m-pink-10);
  --m-classifyapplication-pink-border: var(--m-pink-8);
  --m-classifyapplication-pink-content: var(--m-pink-5);
}
