@use '../common/styles/mixin/mixin.scss' as *;
@use '../common/styles/variables.scss' as *;

$checkbox-label-margin: var(--m-checkbox-label-margin, $spacing-tight) !default;
$checkbox-color-checked: var(--m-checkbox-color-checked, $primary-6) !default;
$checkbox-icon-size: var(--m-checkbox-icon-size, $n-22) !default;
$checkbox-unchecked-color: var(--m-checkbox-unchecked-color, $coolgrey-3) !default;
$checkbox-label-font-size: var(--m-checkbox-label-font-size, $typography-body-size-main) !default;
$checkbox-label-color: var(--m-checkbox-label-color, $text-main) !default;
$checkbox-label-line-height: var(--m-checkbox-label-line-height, $typography-body-line-height-size-main) !default;
$checkbox-opacity-disabled: var(--m-checkbox-opacity-disabled, $opacity-disabled) !default;
$checkbox-horizontal-margin: var(--m-checkbox-horizontal-margin, $spacing-zero $spacing-extra-loose $spacing-zero $spacing-zero) !default;

@include b(checkbox) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 12rpx;

  &:last-child {
    margin-bottom: 0;
  }

  .m-checkbox-group & {
    margin-bottom: 0;
  }

  @include m(horizontal) {
    display: inline-flex;
    justify-content: flex-start;
    vertical-align: middle;

    &:not(:last-child) {
      margin: $checkbox-horizontal-margin;
    }
  }

  @include m(right) {
    .m-checkbox__label {
      margin-right: $checkbox-label-margin;
    }
  }

  @include m(left) {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .m-checkbox__label {
      margin-left: $checkbox-label-margin;
    }
  }

  @include e(icon) {
    font-size: $checkbox-icon-size;
    height: $checkbox-icon-size;
    line-height: $checkbox-icon-size;
    color: $checkbox-unchecked-color;
    transition: all 0.2s;
  }

  @include e(label) {
    font-size: $checkbox-label-font-size;
    color: $checkbox-label-color;
    line-height: $checkbox-label-line-height;
    word-break: break-all;
  }

  @include e(shape) {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include when(checked) {
    :deep(.m-checkbox__icon) {
      color: $checkbox-color-checked;
    }
  }

  @include when(indeterminate) {
    :deep(.m-checkbox__icon) {
      color: $checkbox-color-checked;
    }
  }

  @include when(disabled) {
    opacity: $checkbox-opacity-disabled;
  }

  @include when(readonly) {
    pointer-events: none;
  }
}
