/* 基础颜色 */
$base-black: var(--m-base-black, #000000FF) !default;
$base-transparent: var(--m-base-transparent, transparent) !default;
$base-white: var(--m-base-white, #FFFFFFFF) !default;

/* 蓝色系列 */
$blue-1: var(--m-blue-1, #F5F8FFFF) !default;
$blue-2: var(--m-blue-2, #E5EDFFFF) !default;
$blue-3: var(--m-blue-3, #B8CFFFFF) !default;
$blue-4: var(--m-blue-4, #7CA4FFFF) !default;
$blue-5: var(--m-blue-5, #4480FFFF) !default;
$blue-6: var(--m-blue-6, #1C64FDFF) !default;
$blue-7: var(--m-blue-7, #164ED1FF) !default;
$blue-8: var(--m-blue-8, #1341ADFF) !default;
$blue-9: var(--m-blue-9, #0F3285FF) !default;
$blue-10: var(--m-blue-10, #0A235CFF) !default;
$blue-opac: var(--m-blue-opac, #1C64FD14) !default;

/* 亮蓝系列 */
$lightblue-1: var(--m-lightblue-1, #E8FBFFFF) !default;
$lightblue-2: var(--m-lightblue-2, #BFF2FFFF) !default;
$lightblue-3: var(--m-lightblue-3, #96E7FFFF) !default;
$lightblue-4: var(--m-lightblue-4, #6ED8FFFF) !default;
$lightblue-5: var(--m-lightblue-5, #45C7FFFF) !default;
$lightblue-6: var(--m-lightblue-6, #1CB2FDFF) !default;
$lightblue-7: var(--m-lightblue-7, #0D8CD6FF) !default;
$lightblue-8: var(--m-lightblue-8, #026AB0FF) !default;
$lightblue-9: var(--m-lightblue-9, #004E8AFF) !default;
$lightblue-10: var(--m-lightblue-10, #003563FF) !default;
$lightblue-opac: var(--m-lightblue-opac, #1CB2FD14) !default;

/* 粉色系列 */
$pink-1: var(--m-pink-1, #FFF0F6FF) !default;
$pink-2: var(--m-pink-2, #FFDEEBFF) !default;
$pink-3: var(--m-pink-3, #FCC2D7FF) !default;
$pink-4: var(--m-pink-4, #FAA2C1FF) !default;
$pink-5: var(--m-pink-5, #F783ACFF) !default;
$pink-6: var(--m-pink-6, #FF357CFF) !default;
$pink-7: var(--m-pink-7, #FF0A60FF) !default;
$pink-8: var(--m-pink-8, #E0004FFF) !default;
$pink-9: var(--m-pink-9, #B80040FF) !default;
$pink-10: var(--m-pink-10, #8F0032FF) !default;
$pink-opac: var(--m-pink-opac, #FF357C14) !default;

/* 红色系列 */
$red-1: var(--m-red-1, #FFF5F5FF) !default;
$red-2: var(--m-red-2, #FFE3E3FF) !default;
$red-3: var(--m-red-3, #FFC9C9FF) !default;
$red-4: var(--m-red-4, #FFA8A8FF) !default;
$red-5: var(--m-red-5, #FB7C7CFF) !default;
$red-6: var(--m-red-6, #F14646FF) !default;
$red-7: var(--m-red-7, #DC2C2CFF) !default;
$red-8: var(--m-red-8, #BC2626FF) !default;
$red-9: var(--m-red-9, #A01515FF) !default;
$red-10: var(--m-red-10, #790909FF) !default;
$red-opac: var(--m-red-opac, #F1464614) !default;

/* 橘红色系列 */
$volcano-1: var(--m-volcano-1, #FFF2E8FF) !default;
$volcano-2: var(--m-volcano-2, #FFDABFFF) !default;
$volcano-3: var(--m-volcano-3, #FFBF96FF) !default;
$volcano-4: var(--m-volcano-4, #FFA16EFF) !default;
$volcano-5: var(--m-volcano-5, #FF8045FF) !default;
$volcano-6: var(--m-volcano-6, #FD5C1CFF) !default;
$volcano-7: var(--m-volcano-7, #D63F0DFF) !default;
$volcano-8: var(--m-volcano-8, #B02802FF) !default;
$volcano-9: var(--m-volcano-9, #8A1900FF) !default;
$volcano-10: var(--m-volcano-10, #630F00FF) !default;
$volcano-opac: var(--m-volcano-opac, #FD5C1C14) !default;

/* 橙色系列 */
$orange-1: var(--m-orange-1, #FFF6EBFF) !default;
$orange-2: var(--m-orange-2, #FFE8CCFF) !default;
$orange-3: var(--m-orange-3, #FFD8A8FF) !default;
$orange-4: var(--m-orange-4, #FFC078FF) !default;
$orange-5: var(--m-orange-5, #FFA94DFF) !default;
$orange-6: var(--m-orange-6, #F57F00FF) !default;
$orange-7: var(--m-orange-7, #D05706FF) !default;
$orange-8: var(--m-orange-8, #A94605FF) !default;
$orange-9: var(--m-orange-9, #813604FF) !default;
$orange-10: var(--m-orange-10, #592503FF) !default;
$orange-opac: var(--m-orange-opac, #F57F0014) !default;

/* 黄色系列 */
$yellow-1: var(--m-yellow-1, #FFFAF1FF) !default;
$yellow-2: var(--m-yellow-2, #FDE5B4FF) !default;
$yellow-3: var(--m-yellow-3, #FDD78CFF) !default;
$yellow-4: var(--m-yellow-4, #FCC964FF) !default;
$yellow-5: var(--m-yellow-5, #FBBB3CFF) !default;
$yellow-6: var(--m-yellow-6, #FAAD14FF) !default;
$yellow-7: var(--m-yellow-7, #E19705FF) !default;
$yellow-8: var(--m-yellow-8, #B97C04FF) !default;
$yellow-9: var(--m-yellow-9, #916103FF) !default;
$yellow-10: var(--m-yellow-10, #694702FF) !default;
$yellow-opac: var(--m-yellow-opac, #FAAD1414) !default;

/* 绿色系列 */
$green-1: var(--m-green-1, #F3FBF9FF) !default;
$green-2: var(--m-green-2, #E7F8F3FF) !default;
$green-3: var(--m-green-3, #B8EADBFF) !default;
$green-4: var(--m-green-4, #88DBC3FF) !default;
$green-5: var(--m-green-5, #59CDAAFF) !default;
$green-6: var(--m-green-6, #12B886FF) !default;
$green-7: var(--m-green-7, #0F956CFF) !default;
$green-8: var(--m-green-8, #0B6F51FF) !default;
$green-9: var(--m-green-9, #074A36FF) !default;
$green-10: var(--m-green-10, #04251BFF) !default;
$green-opac: var(--m-green-opac, #12B88614) !default;

/* 青色系列 */
$cyan-1: var(--m-cyan-1, #F4FBFDFF) !default;
$cyan-2: var(--m-cyan-2, #E9F8FAFF) !default;
$cyan-3: var(--m-cyan-3, #BDEAF1FF) !default;
$cyan-4: var(--m-cyan-4, #90DBE7FF) !default;
$cyan-5: var(--m-cyan-5, #64CDDDFF) !default;
$cyan-6: var(--m-cyan-6, #22B8CFFF) !default;
$cyan-7: var(--m-cyan-7, #1C98ABFF) !default;
$cyan-8: var(--m-cyan-8, #167988FF) !default;
$cyan-9: var(--m-cyan-9, #115A65FF) !default;
$cyan-10: var(--m-cyan-10, #0B3A42FF) !default;
$cyan-opac: var(--m-cyan-opac, #22B8CF14) !default;

/* 紫色系列 */
$purple-1: var(--m-purple-1, #F9F8FFFF) !default;
$purple-2: var(--m-purple-2, #E5DBFFFF) !default;
$purple-3: var(--m-purple-3, #D0BFFFFF) !default;
$purple-4: var(--m-purple-4, #B197FCFF) !default;
$purple-5: var(--m-purple-5, #9775FAFF) !default;
$purple-6: var(--m-purple-6, #8059F3FF) !default;
$purple-7: var(--m-purple-7, #5B29EFFF) !default;
$purple-8: var(--m-purple-8, #4511DFFF) !default;
$purple-9: var(--m-purple-9, #390EB9FF) !default;
$purple-10: var(--m-purple-10, #2D0B93FF) !default;
$purple-opac: var(--m-purple-opac, #8059F314) !default;

/* 靛色系列 */
$grape-1: var(--m-grape-1, #FBF6FDFF) !default;
$grape-2: var(--m-grape-2, #F3D9FAFF) !default;
$grape-3: var(--m-grape-3, #EEBEFAFF) !default;
$grape-4: var(--m-grape-4, #E599F7FF) !default;
$grape-5: var(--m-grape-5, #DA77F2FF) !default;
$grape-6: var(--m-grape-6, #AE3EC9FF) !default;
$grape-7: var(--m-grape-7, #9731AFFF) !default;
$grape-8: var(--m-grape-8, #7B288FFF) !default;
$grape-9: var(--m-grape-9, #601F70FF) !default;
$grape-10: var(--m-grape-10, #451650FF) !default;
$grape-opac: var(--m-grape-opac, #AE3EC914) !default;

/* 冷灰系列 */
$coolgrey-1: var(--m-coolgrey-1, #F7F8FAFF) !default;
$coolgrey-10: var(--m-coolgrey-10, #1D1F29FF) !default;
$coolgrey-2: var(--m-coolgrey-2, #F2F3F5FF) !default;
$coolgrey-3: var(--m-coolgrey-3, #E5E6EBFF) !default;
$coolgrey-4: var(--m-coolgrey-4, #C9CBD4FF) !default;
$coolgrey-5: var(--m-coolgrey-5, #A9ACB8FF) !default;
$coolgrey-6: var(--m-coolgrey-6, #868A9CFF) !default;
$coolgrey-7: var(--m-coolgrey-7, #6B7085FF) !default;
$coolgrey-8: var(--m-coolgrey-8, #4E5369FF) !default;
$coolgrey-9: var(--m-coolgrey-9, #272B3BFF) !default;

/* 中性灰系列 */
$neutralgrey-1: var(--m-neutralgrey-1, #FAFAFAFF) !default;
$neutralgrey-10: var(--m-neutralgrey-10, #292929FF) !default;
$neutralgrey-2: var(--m-neutralgrey-2, #F5F5F5FF) !default;
$neutralgrey-3: var(--m-neutralgrey-3, #EBEBEBFF) !default;
$neutralgrey-4: var(--m-neutralgrey-4, #D4D4D4FF) !default;
$neutralgrey-5: var(--m-neutralgrey-5, #B8B8B8FF) !default;
$neutralgrey-6: var(--m-neutralgrey-6, #9C9C9CFF) !default;
$neutralgrey-7: var(--m-neutralgrey-7, #858585FF) !default;
$neutralgrey-8: var(--m-neutralgrey-8, #696969FF) !default;
$neutralgrey-9: var(--m-neutralgrey-9, #3D3D3DFF) !default;

/* 暖灰系列 */
$warmgrey-1: var(--m-warmgrey-1, #FAF8F7FF) !default;
$warmgrey-10: var(--m-warmgrey-10, #292321FF) !default;
$warmgrey-2: var(--m-warmgrey-2, #F5F3F2FF) !default;
$warmgrey-3: var(--m-warmgrey-3, #EBE7E5FF) !default;
$warmgrey-4: var(--m-warmgrey-4, #D4CECCFF) !default;
$warmgrey-5: var(--m-warmgrey-5, #B8B0ADFF) !default;
$warmgrey-6: var(--m-warmgrey-6, #9C918CFF) !default;
$warmgrey-7: var(--m-warmgrey-7, #857A75FF) !default;
$warmgrey-8: var(--m-warmgrey-8, #695E5AFF) !default;
$warmgrey-9: var(--m-warmgrey-9, #3B332FFF) !default;

/* 遮罩系列 */
$opac-1_02: var(--m-opac-1_02, #00000005) !default;
$opac-2_04: var(--m-opac-2_04, #0000000A) !default;
$opac-3_08: var(--m-opac-3_08, #00000014) !default;
$opac-4_15: var(--m-opac-4_15, #00000026) !default;
$opac-5_20: var(--m-opac-5_20, #00000033) !default;
$opac-6_30: var(--m-opac-6_30, #0000004D) !default;
$opac-7_45: var(--m-opac-7_45, #00000073) !default;
$opac-7_55: var(--m-opac-7_55, #0000008C) !default;
$opac-8_65: var(--m-opac-8_65, #000000A6) !default;
$opac-9_75: var(--m-opac-9_75, #000000BF) !default;
$opac-10_85: var(--m-opac-10_85, #000000D9) !default;

/* 白遮罩系列 */
$opacwhite-1_02: var(--m-opacwhite-1_02, #FFFFFF05) !default;
$opacwhite-2_04: var(--m-opacwhite-2_04, #FFFFFF0A) !default;
$opacwhite-3_08: var(--m-opacwhite-3_08, #FFFFFF14) !default;
$opacwhite-4_15: var(--m-opacwhite-4_15, #FFFFFF26) !default;
$opacwhite-5_20: var(--m-opacwhite-5_20, #FFFFFF33) !default;
$opacwhite-6_30: var(--m-opacwhite-6_30, #FFFFFF4D) !default;
$opacwhite-7_45: var(--m-opacwhite-7_45, #FFFFFF73) !default;
$opacwhite-7_55: var(--m-opacwhite-7_55, #FFFFFF8C) !default;
$opacwhite-8_65: var(--m-opacwhite-8_65, #FFFFFFA6) !default;
$opacwhite-9_75: var(--m-opacwhite-9_75, #FFFFFFBF) !default;
$opacwhite-10_85: var(--m-opacwhite-10_85, #FFFFFFD9) !default;

/* 透明度系列 */
$opacity-disabled: var(--m-opacity-disabled, 0.4) !default;
$opacity-dimmer: var(--m-opacity-dimmer, 0.6) !default;
$opacity-overlay: var(--m-opacity-overlay, 0.75) !default;
$opacity-backdrop: var(--m-opacity-backdrop, 0.3) !default;
$opacity-main: var(--m-opacity-main, 1) !default;

/* 基础数字 */
$n-0: var(--m-n-0, 0px) !default;
$n-1: var(--m-n-1, 1px) !default;
$n-2: var(--m-n-2, 2px) !default;
$n-3: var(--m-n-3, 3px) !default;
$n-4: var(--m-n-4, 4px) !default;
$n-05: var(--m-n-05, 0.5px) !default;
$n-5: var(--m-n-5, 5px) !default;
$n-6: var(--m-n-6, 6px) !default;
$n-8: var(--m-n-8, 8px) !default;
$n-9: var(--m-n-9, 9px) !default;
$n-10: var(--m-n-10, 10px) !default;
$n-11: var(--m-n-11, 11px) !default;
$n-12: var(--m-n-12, 12px) !default;
$n-14: var(--m-n-14, 14px) !default;
$n-15: var(--m-n-15, 15px) !default;
$n-16: var(--m-n-16, 16px) !default;
$n-17: var(--m-n-17, 17px) !default;
$n-18: var(--m-n-18, 18px) !default;
$n-20: var(--m-n-20, 20px) !default;
$n-22: var(--m-n-22, 22px) !default;
$n-24: var(--m-n-24, 24px) !default;
$n-26: var(--m-n-26, 26px) !default;
$n-28: var(--m-n-28, 28px) !default;
$n-32: var(--m-n-32, 32px) !default;
$n-34: var(--m-n-34, 34px) !default;
$n-36: var(--m-n-36, 36px) !default;
$n-40: var(--m-n-40, 40px) !default;
$n-44: var(--m-n-44, 44px) !default;
$n-48: var(--m-n-48, 48px) !default;
$n-50: var(--m-n-50, 50px) !default;
$n-52: var(--m-n-52, 52px) !default;
$n-56: var(--m-n-56, 56px) !default;
$n-60: var(--m-n-60, 60px) !default;
$n-64: var(--m-n-64, 64px) !default;
$n-88: var(--m-n-88, 88px) !default;
$n-98: var(--m-n-98, 98px) !default;
$n-248: var(--m-n-248, 248px) !default;
$n-375: var(--m-n-375, 375px) !default;
$n-full: var(--m-n-full, 9999px) !default;

/* 字重系列 */
$font-weight-ultra-light: var(--m-font-weight-ultra-light, 100) !default;
$font-weight-thin: var(--m-font-weight-thin, 200);
$font-weight-light: var(--m-font-weight-light, 300) !default;
$font-weight-regular: var(--m-font-weight-regular, 400) !default;
$font-weight-medium: var(--m-font-weight-medium, 600) !default;
$font-weight-semibold: var(--m-font-weight-semibold, 700) !default;
$font-weight-bold: var(--m-font-weight-bold, 700) !default;


/* 排版系列 */
/* label */
$typography-label-font-family: var(--m-typography-label-font-family, PingFang SC) !default;
$typography-label-size-small: var(--m-typography-label-size-small, $n-11) !default;
$typography-label-size-main: var(--m-typography-label-size-main, $n-12) !default;
$typography-label-size-large: var(--m-typography-label-size-large, $n-14) !default;
$typography-label-font-weight-main: var(--m-typography-label-font-weight-main, $font-weight-regular) !default;
$typography-label-font-weight-strong: var(--m-typography-label-font-weight-strong, $font-weight-medium) !default;
$typography-label-line-height-size-extra-small: var(--m-typography-label-line-height-size-extra-small, $n-16) !default;
$typography-label-line-height-size-large: var(--m-typography-label-line-height-size-large, $n-18) !default;
$typography-label-line-height-size-main: var(--m-typography-label-line-height-size-main, $n-18) !default;
$typography-label-line-height-size-small: var(--m-typography-label-line-height-size-small, $n-16) !default;
$typography-label-line-height-size-super-small: var(--m-typography-label-line-height-size-super-small, $n-14) !default;
$typography-label-size-extra-small: var(--m-typography-label-size-extra-small, $n-10) !default;
$typography-label-size-super-small: var(--m-typography-label-size-super-small, $n-9) !default;

/* body */
$typography-body-font-family: var(--m-typography-body-font-family, PingFang SC) !default;
$typography-body-size-main: var(--m-typography-body-size-main, $n-14) !default;
$typography-body-size-large: var(--m-typography-body-size-large, $n-15) !default;
$typography-body-font-weight-main: var(--m-typography-body-font-weight-main, $font-weight-regular) !default;
$typography-body-font-weight-strong: var(--m-typography-body-font-weight-strong, $font-weight-medium) !default;
$typography-body-font-weight-extra-strong: var(--m-typography-body-font-weight-extra-strong, $font-weight-semibold) !default;
$typography-body-line-height-size-extra-large: var(--m-typography-body-line-height-size-extra-large, $n-24) !default;
$typography-body-line-height-size-large: var(--m-typography-body-line-height-size-large, $n-22) !default;
$typography-body-line-height-size-main: var(--m-typography-body-line-height-size-main, $n-20) !default;
$typography-body-line-height-size-super-large: var(--m-typography-body-line-height-size-super-large, $n-24) !default;
$typography-body-line-height-size-ultra-large: var(--m-typography-body-line-height-size-ultra-large, $n-26) !default;
$typography-body-size-extra-large: var(--m-typography-body-size-extra-large, $n-16) !default;
$typography-body-size-super-large: var(--m-typography-body-size-super-large, $n-17) !default;
$typography-body-size-ultra-large: var(--m-typography-body-size-ultra-large, $n-18) !default;

/* title */
$typography-title-font-family: var(--m-typography-title-font-family, PingFang SC) !default;
$typography-title-size-main: var(--m-typography-title-size-main, $n-18) !default;
$typography-title-size-large: var(--m-typography-title-size-large, $n-20) !default;
$typography-title-size-extra-large: var(--m-typography-title-size-extra-large, $n-24) !default;
$typography-title-font-weight-light: var(--m-typography-title-font-weight-light, $font-weight-regular) !default;
$typography-title-font-weight-main: var(--m-typography-title-font-weight-main, $font-weight-medium) !default;
$typography-title-font-weight-strong: var(--m-typography-title-font-weight-strong, $font-weight-semibold) !default;
$typography-title-line-height-size-main: var(--m-typography-title-line-height-size-main, $n-26) !default;
$typography-title-line-height-size-large: var(--m-typography-title-line-height-size-large, $n-28) !default;
$typography-title-line-height-size-extra-large: var(--m-typography-title-line-height-size-extra-large, $n-34) !default;

/* 圆角系列 */
$radius-zero: var(--m-radius-zero, $n-0) !default;
$radius-small: var(--m-radius-small, $n-2) !default;
$radius-main: var(--m-radius-main, $n-4) !default;
$radius-large: var(--m-radius-large, $n-8) !default;
$radius-extra-large: var(--m-radius-extra-large, $n-12) !default;
$radius-super-large: var(--m-radius-super-large, $n-16) !default;
$radius-ultra-large: var(--m-radius-ultra-large, $n-20) !default;
$radius-full: var(--m-radius-full, $n-full) !default;

/* 内边距系列 */
$padding-zero: var(--m-padding-zero, $n-0) !default;
$padding-ultra-tight: var(--m-padding-ultra-tight, $n-2) !default;
$padding-super-tight: var(--m-padding-super-tight, $n-4) !default;
$padding-extra-tight: var(--m-padding-extra-tight, $n-6) !default;
$padding-tight: var(--m-padding-tight, $n-8) !default;
$padding-main: var(--m-padding-main, $n-10) !default;
$padding-loose: var(--m-padding-loose, $n-12) !default;
$padding-extra-loose: var(--m-padding-extra-loose, $n-16) !default;
$padding-super-loose: var(--m-padding-super-loose, $n-20) !default;
$padding-ultra-loose: var(--m-padding-ultra-loose, $n-24) !default;
$padding-spacious: var(--m-padding-spacious, $n-28) !default;
$padding-extra-spacious: var(--m-padding-extra-spacious, $n-32) !default;
$padding-super-spacious: var(--m-padding-super-spacious, $n-40) !default;
$padding-ultra-spacious: var(--m-padding-ultra-spacious, $n-48) !default;

/* 间距系列 */
$spacing-zero: var(--m-spacing-zero, $n-0) !default;
$spacing-ultra-tight: var(--m-spacing-ultra-tight, $n-2) !default;
$spacing-super-tight: var(--m-spacing-super-tight, $n-4) !default;
$spacing-extra-tight: var(--m-spacing-extra-tight, $n-6) !default;
$spacing-tight: var(--m-spacing-tight, $n-8) !default;
$spacing-main: var(--m-spacing-main, $n-10) !default;
$spacing-loose: var(--m-spacing-loose, $n-12) !default;
$spacing-extra-loose: var(--m-spacing-extra-loose, $n-16) !default;
$spacing-super-loose: var(--m-spacing-super-loose, $n-20) !default;
$spacing-ultra-loose: var(--m-spacing-ultra-loose, $n-24) !default;
$spacing-spacious: var(--m-spacing-spacious, $n-28) !default;
$spacing-extra-spacious: var(--m-spacing-extra-spacious, $n-32) !default;
$spacing-super-spacious: var(--m-spacing-super-spacious, $n-40) !default;
$spacing-ultra-spacious: var(--m-spacing-ultra-spacious, $n-48) !default;

/* 边框线系列 */
$stroke-zero: var(--m-stroke-zero, $n-0) !default;
$stroke-light: var(--m-stroke-light, $n-05) !default;
$stroke-main: var(--m-stroke-main, $n-1) !default;
$stroke-bold: var(--m-stroke-bold, $n-2) !default;


/* 语义变量(light) */
/* 主色系列 */
$primary-1: var(--m-primary-1, $blue-1) !default;
$primary-2: var(--m-primary-2, $blue-2) !default;
$primary-3: var(--m-primary-3, $blue-3) !default;
$primary-4: var(--m-primary-4, $blue-4) !default;
$primary-5: var(--m-primary-5, $blue-5) !default;
$primary-6: var(--m-primary-6, $blue-6) !default;
$primary-7: var(--m-primary-7, $blue-7) !default;
$primary-8: var(--m-primary-8, $blue-8) !default;
$primary-9: var(--m-primary-9, $blue-9) !default;
$primary-10: var(--m-primary-10, $blue-10) !default;

/* 危险色系列 */
$danger-clicked: var(--m-danger-clicked, $red-7) !default;
$danger-disabled: var(--m-danger-disabled, $red-3) !default;
$danger-hover: var(--m-danger-hover, $red-5) !default;
$danger-main: var(--m-danger-main, $red-6) !default;
$danger-particular: var(--m-danger-particular, $red-2) !default;
$danger-surface: var(--m-danger-surface, $red-1) !default;

/* 成功色系列 */
$success-clicked: var(--m-success-clicked, $green-7) !default;
$success-disabled: var(--m-success-disabled, $green-3) !default;
$success-hover: var(--m-success-hover, $green-5) !default;
$success-main: var(--m-success-main, $green-6) !default;
$success-particular: var(--m-success-particular, $green-2) !default;
$success-surface: var(--m-success-surface, $green-1) !default;

/* 警告色系列 */
$warning-clicked: var(--m-warning-clicked, $orange-7) !default;
$warning-disabled: var(--m-warning-disabled, $orange-3) !default;
$warning-hover: var(--m-warning-hover, $orange-5) !default;
$warning-main: var(--m-warning-main, $orange-6) !default;
$warning-particular: var(--m-warning-particular, $orange-2) !default;
$warning-surface: var(--m-warning-surface, $orange-1) !default;

/* 文字色系列 */
$text-main: var(--m-text-main, $coolgrey-10) !default;
$text-secondary: var(--m-text-secondary, $coolgrey-8) !default;
$text-auxiliary: var(--m-text-auxiliary, $coolgrey-6) !default;
$text-disabled: var(--m-text-disabled, $coolgrey-4) !default;
$text-placeholder: var(--m-text-placeholder, $coolgrey-5) !default;
$text-white: var(--m-text-white, $base-white) !default;

/* 图标色系列 */
/* 图标 */
$icon-main: var(--m-icon-main, $coolgrey-10) !default;
$icon-secondary: var(--m-icon-secondary, $coolgrey-8) !default;
$icon-auxiliary: var(--m-icon-auxiliary, $coolgrey-6) !default;
$icon-disabled: var(--m-icon-disabled, $coolgrey-4) !default;
$icon-placeholder: var(--m-icon-placeholder, $coolgrey-5) !default;
$icon-white: var(--m-icon-white, $base-white) !default;

/* 边框色系列 */
$border-extra-strong: var(--m-border-extra-strong, $coolgrey-6) !default;
$border-strong: var(--m-border-strong, $coolgrey-4) !default;
$border-main: var(--m-border-main, $coolgrey-3) !default;
$border-light: var(--m-border-light, $coolgrey-2) !default;
$border-white: var(--m-border-white, $base-white) !default;
$border-zero: var(--m-border-zero, $base-transparent) !default;

/* 填充色系列 */
$filled-extra-strong: var(--m-filled-extra-strong, $coolgrey-4) !default;
$filled-strong: var(--m-filled-strong, $coolgrey-3) !default;
$filled-content: var(--m-filled-content, $coolgrey-2) !default;
$filled-bottom: var(--m-filled-bottom, $coolgrey-1) !default;
$filled-oppo: var(--m-filled-oppo, $base-white) !default;
$filled-zero: var(--m-filled-zero, $base-transparent) !default;

/* 分割线系列 */
$divider-main: var(--m-divider-main, $opac-3_08) !default;
$divider-light: var(--m-divider-light, $opac-2_04) !default;
$divider-strong: var(--m-divider-strong, $opac-4_15) !default;
$divider-white: var(--m-divider-white, $base-white) !default;

/* 反馈色系列 */
$feedback-accent: var(--m-feedback-accent, $blue-opac) !default;
$feedback-active: var(--m-feedback-active, $opac-3_08) !default;
$feedback-hover: var(--m-feedback-hover, $opac-2_04) !default;

/* 透明度填充 */
$opacfilled-light-cover: var(--m-opacfilled-light-cover, $opac-6_30) !default;
$opacfilled-main-cover: var(--m-opacfilled-main-cover, $opac-7_55) !default;
$opacfilled-tooltip-toast-cover: var(--m-opacfilled-tooltip-toast-cover, $opac-9_75) !default;

/* 分类色系列 */
/* 黄色 */
$classifyapplication-yellow-background: var(--m-classifyapplication-yellow-background, $yellow-1) !default;
$classifyapplication-yellow-border: var(--m-classifyapplication-yellow-border, $yellow-3) !default;
$classifyapplication-yellow-content: var(--m-classifyapplication-yellow-content, $yellow-6) !default;

/* 蓝色 */
$classifyapplication-cyan-background: var(--m-classifyapplication-cyan-background, $cyan-1) !default;
$classifyapplication-cyan-border: var(--m-classifyapplication-cyan-border, $cyan-3) !default;
$classifyapplication-cyan-content: var(--m-classifyapplication-cyan-content, $cyan-6) !default;

/* 紫色 */
$classifyapplication-purple-background: var(--m-classifyapplication-purple-background, $purple-1) !default;
$classifyapplication-purple-border: var(--m-classifyapplication-purple-border, $purple-3) !default;
$classifyapplication-purple-content: var(--m-classifyapplication-purple-content, $purple-6) !default;

/* 靛色 */
$classifyapplication-grape-background: var(--m-classifyapplication-grape-background, $grape-1) !default;
$classifyapplication-grape-border: var(--m-classifyapplication-grape-border, $grape-3) !default;
$classifyapplication-grape-content: var(--m-classifyapplication-grape-content, $grape-6) !default;

/* 粉色 */
$classifyapplication-pink-background: var(--m-classifyapplication-pink-background, $pink-1) !default;
$classifyapplication-pink-border: var(--m-classifyapplication-pink-border, $pink-3) !default;
$classifyapplication-pink-content: var(--m-classifyapplication-pink-content, $pink-6) !default;