:root,
page,
.wd-root-portal {
  --m-spacing-zero: var(--m-n-0);
  --m-padding-zero: var(--m-n-0);
  --m-padding-ultra-tight: var(--m-n-2);
  --m-padding-super-tight: var(--m-n-4);
  --m-padding-extra-tight: var(--m-n-6);
  --m-padding-tight: var(--m-n-8);
  --m-padding-main: var(--m-n-10);
  --m-padding-loose: var(--m-n-12);
  --m-padding-extra-loose: var(--m-n-16);
  --m-padding-super-loose: var(--m-n-20);
  --m-padding-ultra-loose: var(--m-n-24);
  --m-padding-spacious: var(--m-n-28);
  --m-padding-extra-spacious: var(--m-n-32);
  --m-padding-super-spacious: var(--m-n-40);
  --m-padding-ultra-spacious: var(--m-n-48);
  --m-spacing-ultra-tight: var(--m-n-2);
  --m-spacing-super-tight: var(--m-n-4);
  --m-spacing-extra-tight: var(--m-n-6);
  --m-spacing-tight: var(--m-n-8);
  --m-spacing-main: var(--m-n-10);
  --m-spacing-loose: var(--m-n-12);
  --m-spacing-extra-loose: var(--m-n-16);
  --m-spacing-super-loose: var(--m-n-20);
  --m-spacing-ultra-loose: var(--m-n-24);
  --m-spacing-spacious: var(--m-n-28);
  --m-spacing-extra-spacious: var(--m-n-32);
  --m-spacing-super-spacious: var(--m-n-40);
  --m-spacing-ultra-spacious: var(--m-n-48);
}