:root,
page,
.wd-root-portal {
  /* 圆角 */
  --m-radius-zero: var(--m-n-0);
  --m-radius-small: var(--m-n-2);
  --m-radius-main: var(--m-n-4);
  --m-radius-large: var(--m-n-8);
  --m-radius-extra-large: var(--m-n-12);
  --m-radius-super-large: var(--m-n-16);
  --m-radius-ultra-large: var(--m-n-20);
  --m-radius-full: var(--m-n-full);
}