@use '../common/styles/variable.scss' as *;

// 徽标高度
$badge-height: var(--m-badge-height, $n-16) !default;
// 徽标最小宽度
$badge-min-width: var(--m-badge-min-width, $n-16) !default;
// 徽标内边距
$badge-padding: var(--m-badge-padding, $padding-zero $padding-super-tight) !default;
// 危险类型背景色
$badge-danger-bg: var(--m-badge-danger-bg, $danger-main) !default;
// 成功类型背景色
$badge-success-bg: var(--m-badge-success-bg, $success-main) !default;
// 警告类型背景色
$badge-warning-bg: var(--m-badge-warning-bg, $warning-main) !default;
// 信息类型背景色
$badge-info-bg: var(--m-badge-info-bg, $filled-content) !default;
// 主类型背景色
$badge-primary-bg: var(--m-badge-primary-bg, $primary-6) !default;
// 徽标文本颜色
$badge-color: var(--m-badge-color, $text-white) !default;
// 信息类型文本颜色
$badge-info-color: var(--m-badge-info-color, $text-secondary) !default;
// 徽标文本字号
$badge-font-size: var(--m-badge-font-size, $typography-label-size-extra-small) !default;
// 徽标文本行高
$badge-line-height: var(--m-badge-line-height, $typography-label-line-height-size-extra-small) !default;
// 默认圆角
$badge-border-radius: var(--m-badge-border-radius, $radius-full) !default;
// 方形圆角
$badge-square-border-radius: var(--m-badge-square-border-radius, $radius-main) !default;
// 气泡圆角
$badge-bubble-border-radius: var(--m-badge-bubble-border-radius, $radius-large $radius-large $radius-large $radius-zero) !default;
// 圆点尺寸
$badge-dot-size: var(--m-badge-dot-size, $n-6) !default;
// 徽标文本字重
$badge-font-weight: var(--m-badge-font-weight, $font-weight-medium) !default;
// 固定定位偏移
$badge-transform: var(--m-badge-transform, translateY(-50%) translateX(50%)) !default;
// 徽标边框颜色
$badge-border-color: var(--m-badge-border-color, $border-white) !default;

.m-badge {
  position: relative;
  vertical-align: middle;
  display: inline-block;

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: $badge-height;
    padding: $badge-padding;
    background: $badge-danger-bg;
    border-radius: $badge-border-radius;
    color: $badge-color;
    font-size: $badge-font-size;
    line-height: $badge-line-height;
    font-weight: $badge-font-weight;
    min-width: $badge-min-width;

    &.is-dot {
      height: $badge-dot-size;
      width: $badge-dot-size;
      min-width: $badge-dot-size;
      padding: 0;
      border-radius: $badge-border-radius;
    }

    &.is-square {
      border-radius: $badge-square-border-radius;
    }

    &.is-bubble {
      border-radius: $badge-bubble-border-radius;
    }

    &.is-border {
      position: relative;

      &::after {
        position: absolute;
        display: block;
        content: ' ';
        pointer-events: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border: 1px solid $badge-border-color;
        box-sizing: border-box;
        border-radius: inherit;
      }
    }

    &.is-fixed {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 1;
      transform: $badge-transform;
    }

    &--primary {
      background: $badge-primary-bg;
    }

    &--success {
      background: $badge-success-bg;
    }

    &--warning {
      background: $badge-warning-bg;
    }

    &--info {
      background: $badge-info-bg;
      color: $badge-info-color;
    }

    &--danger {
      background: $badge-danger-bg;
    }
  }
}