@use '../common/styles/mixin/mixin.scss' as *;
@use '../common/styles/variables.scss' as *;

// 遮罩层背景色
$m-overlay-bg: var(--m-overlay-bg, rgba(0, 0, 0, 0.55)) !default;

@include b(overlay) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $m-overlay-bg;
}