@use '../common/styles/mixin/mixin.scss' as *;
@use '../common/styles/variables.scss' as *;

$watermark-opacity: var(--m-watermark-opacity, var(--m-opacity-dimmer, 0.5)) !default;

@include b(watermark) {
  position: absolute;
  z-index: 1100;
  opacity: $watermark-opacity;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background-repeat: repeat;

  @include when(fullscreen) {
    position: fixed;
  }
}